

/* ---------- PROJECTS ---------- */



main#projects_list {
  display: flex;
  justify-content: flex-end;
  
  position: fixed;
  top: 0px;
  right: 0px;
  overflow-y: scroll;

  -ms-overflow-style: none;
  /*overflow: -moz-scrollbars-none;*/
}

main#projects_list .container_list {
  display: flex;
  flex-direction: column;
  width: 50%;
}

main#projects_list .row {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

main#projects_list hr {
  height: 1px;
  border-top: 1px solid black;
}

main#projects_list hr:last-child{
  padding-bottom: 30px;
}

/*main#projects_list a[data-href]:visited .row div:not(:first-child){
  color: grey !important;
}*/

main#projects_list a:hover .row div:not(:first-child){
  text-decoration: underline;
}


#projects_list::-webkit-scrollbar { 
  display: none;
}

#legendetel {
  margin-left: 14%;
  margin-right: 1%;
  padding-bottom: 15px;

  -webkit-column-count:2; /* Opera, Safari, Google Chrome */
  -moz-column-count: 2; /* Firefox */
  column-count: 2; /* Internet Explorer */
}





/* Code, description et Team (Page project) */

main#projects_list #code {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  border-bottom: 1px solid black;
}

/* Largeur du tableau */

main#projects_list .row div:nth-child(1) {
  width: calc(14% - 5px);
  margin-right: 5px;
}

main#projects_list .row div:nth-child(2) {
  width: calc(43% - 30px);
  margin-right: 30px;
}

main#projects_list .row div:nth-child(3) {
  width: 43%;
}







/* ---------- ASIDE ---------- */
/* à revoir : mettre la légende dans aside et les figure dans une nouvelle div ? */

aside#aside_projects_list, aside#aside_list {
  position: fixed;
  left: 3%;
  bottom: 100px;
  width: 15vw;
  height: 14vw;
}

aside#aside_projects_list figure, aside#aside_list figure {
  position: absolute;
  bottom: 0px;
  left: 0px;

  width: 100%;
  height: 100%;

  visibility: hidden;
  opacity: 0;
  -moz-transition: visibility 1s, opacity .2s linear;
  -o-transition: visibility 1s, opacity .2s linear;
  -webkit-transition: visibility 1s, opacity .2s linear;
  transition: visibility 1s, opacity .2s linear;
}

aside#aside_projects_list figure img{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  bottom: 0px;
}

aside#aside_projects_list figure.activated, aside#aside_list figure.activated {
  visibility: visible;
  opacity: 1;
}

aside, #legende {
  position: fixed;
  left: 3%;
  bottom: 30px;
}


/* visited */

#projects_list a:hover {
  color: #353535;
}
/*
main#projects_list a {
  border-bottom: 1px solid #353535;
}
main#projects_list a:visited {
  border-bottom-color: blue;
}
*/
main#projects_list a:visited .row div {
  color: #b0b0b0;
}

