

/* ---------- ABOUT ---------- */


/* ETOILE */

#etoile{
  display: block;
  margin-top: 90vh;
  margin-bottom: calc(100vh - 170px);
  width: 80%;
}
#etoile a:hover {
  color: #353535;
}

#etoile img, #etoile span {
  width: 17px;
  margin-left: 80%;
  white-space: nowrap;
}




/* Desktop ----------- */
@media only screen and (min-width : 1024px) {

  /* ---------- ABOUT ---------- */
  main#about {
    position: absolute;
    top: 4px;
    width: 94%;
    left: 3%;
  }

  #tiret{
    position: absolute;
    z-index: 110;
    top: 0;
    margin-top: 16px;
    width: 80.88%;
    left: 3%;
    pointer-events: none;
  }

  /*#principal, #contacts, #clients, #credits{
    pointer-events: auto !important;
  }*/

  #sun {
    margin-top: 16px;
    margin-bottom: 20px;
    width: 86%;
    display: block;
  }

  #suun{
    display: none !important;
  }

  main#about div{
    /*display: inline-block;*/
  }

  #principal{
    width: 20%;
    margin-right: 15px;
    float: left;
  }

  #contacts{
    position: absolute;
    top: calc(100vh - 58px);
    width: 50%;
  }

  #u{
    width: calc(42% - 15px);
    display: inline-block;
    float: left;
  }

  #u img, #sun img{
    width: 100%;
  }

  #clients{
    width: calc(33.333% + 17px);
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 5px;
    float: right;
  }

  #credits{
    position: relative;
    margin-bottom:30px;
  }

  #credits span.espace{
    display: inline-block;
  }

  #credits span.sautligne{
    display: none;
  }
}


/* iPads (landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) and (orientation : landscape) {
  
  /* ---------- ABOUT ---------- */
  main#about {
    position: absolute;
    top: 4px;
    width: 94%;
    left: 3%;
  }

  #tiret{
    position: absolute;
    z-index: 110;
    top: 0;
    margin-top: 16px;
    width: 80.88%;
    left: 3%;
    pointer-events: none;
  }

  #sun {
    margin-top: 16px;
    margin-bottom: 20px;
    width: 86%;
    display: block;
  }

  #suun{
    display: none !important;
  }

  main#about div{
    /*display: inline-block;*/
  }

  #principal{
    width: 20%;
    margin-right: 15px;
    float: left;
  }

  #contacts{
    position: absolute;
    top: calc(100vh - 58px);
    width: 50%;
  }

  #u{
    width: calc(42% - 15px);
    display: inline-block;
    float: left;
  }

  #u img, #sun img{
    width: 100%;
  }

  #clients{
    width: calc(23.8% + 17px);
    margin-right: 9.5%;

    -moz-column-count: 2;
    -moz-column-gap: 17px;
    -webkit-column-count: 2;
    -webkit-column-gap: 17px;
    float: right;
  }

  #credits{
    position: relative;
    margin-bottom:30px;
  }

  #credits span.espace{
    display: inline-block;
  }

  #credits span.sautligne{
    display: none;
  }

}


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) and (orientation : portrait) {

  /* ---------- ABOUT ---------- */

  #suun{
    width: 25%;
    padding-bottom: 24px;
  }

  #suun img{
    width: 100%;
  }

  main#about {
    position: absolute;
    top: 63px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  #clients{
    width: 100%;
  }

  #tiret, #sun, #u {
    display: none !important;
  }

  main#about div{
    display: block;
  }

  #principal, #contacts, #clients{
    padding-bottom: 24px;
  }

  #credits{
    padding-bottom: 30px;
    position: absolute;
    top: 220vh;
  }

  #credits span.espace{
    display: none;
  }

  #clients{
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
  }

  .hidden_device_tel {
    /*visibility: hidden;*/
  }

  #credits span.espace{
    display: inline-block;
  }

  #credits span.sautligne{
    display: none;
  }

}



@media only screen and (max-width : 767px){

  /* ---------- ABOUT ---------- */
  main#about {
    position: absolute;
    top: 63px;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  #tiret, #sun, #u {
    display: none !important;
  }

  #suun{
    display: none !important;
  }

  main#about div{
    display: block;
  }

  #principal, #contacts, #clients{
    padding-bottom: 24px;
  }

  #credits{
    padding-bottom: 30px;
  }

  #credits span.espace{
    display: none;
  }

  #credits span.sautligne{
    /*display: inline-block;*/
  }

  #contacts{
    /*En attente
    display: none !important;
    */
  }

  #clients{
    -moz-column-count: 2;
    -moz-column-gap: 5px;
    -webkit-column-count: 2;
    -webkit-column-gap: 5px;
  }

  .hidden_device_tel {
    /*visibility: hidden;*/
  }

}
