

/* ---------- HOME ---------- */


/* ---------- LOGO PLEINE PAGE ---------- */


#logo {
  position: fixed;
  bottom: 0px;
  top: 50px;
  left: 0px;
  right: 0px;  
  z-index: -100;
  
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 15px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  cursor: s-resize;
}

#logo img{
  width: 100%;
}



/* ---------- GALERIE ---------- */

main#home {
  margin-top: 100vh;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  background-color: white;
}

main#home figure {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

main#home figure img {
  height: 100%;

  opacity: 0.9;

  filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -webkit-filter: grayscale(100%);

  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}

main#home figure img:hover{
  opacity: 1 !important;
  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}
.colored img, img.colored {
  opacity: 0.8 !important;

  filter: grayscale(0%) !important;
  -moz-filter: grayscale(0%) !important;
  -webkit-filter: grayscale(0%) !important;

  transition: all 0.5s ease !important;
  -moz-transition: all 0.5s ease !important;
  -webkit-transition: all 0.5s ease !important;
}

/* doublon de .colored utilisé pour mobile au scroll */
.active img {
  opacity: 1 !important;

  filter: grayscale(0%) !important;

  -webkit-filter: grayscale(0%) !important;
  -webkit-transition: grayscale .5s ease-in-out !important;
  transition: grayscale .5s ease-in-out !important;

  -webkit-transition: all .5s !important;
  transition: opacity .5s !important;
}

.flex {
  max-width: 100px;
  flex: 1 0 40px;
  height: 100%;
}

#mire {
  position: fixed;
    
  left: 0px;
  top: calc(50vh - 20px);
  
  width: 20px;
  height: 20px;
  display: none;
}
#mire img {
  display: block;
  width: 100%;
}



/* pour le survol d'un projet sur la home, on active le h2 span */
h2 {
  position: relative;
}
h2.replaced a {
  visibility: hidden;
  opacity: 0;
}

h2.replaced span {
  visibility: visible;
  opacity: 1;
  
  -moz-transition: visibility .2s, opacity .2s linear;
  -o-transition: visibility .2s, opacity .2s linear;
  -webkit-transition: visibility .2s, opacity .2s linear;
  transition: visibility .2s, opacity .2s linear;
}

h2 span {
  visibility: hidden;
  opacity: 0;
  
  -moz-transition: visibility .2s, opacity .2s linear;
  -o-transition: visibility .2s, opacity .2s linear;
  -webkit-transition: visibility .2s, opacity .2s linear;
  transition: visibility .2s, opacity .2s linear;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 0px;

  width: calc(60vw - 76px);
  
  text-align: center;
  white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	pointer-events: none;
}



@media only screen and (max-device-width : 1024px) {

	h2 span {
		display: none;
	}

}