* {
  margin: 0;
  padding: 0;
  border: none;

  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  font-weight: 300;
  
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  outline: none;
}


html {
  font-size: 62.5%;
}
/* 1.0rem vaut alors 10px 
pas mal de mettre les tailles typos en rem (avec en tête des proportions en px)
*/

img {
  max-width: 100%;
}



/* ---------- APPELS TYPO ---------- */

/*
 * Legal Disclaimer
 *
 * These Fonts are licensed only for use on these domains and their subdomains:
 * xn--sun-5na.com
 *
 * It is illegal to download or use them on other websites.
 *
 * While the @font-face statements below may be modified by the client, this
 * disclaimer may not be removed.
 *
 * Lineto.com, 2018
 */


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The fonts folder(s) should be placed relative to the regular CSS file.
 *
 * You can use either the complete or subsetted fonts:
 * If you don’t require the entire range of characters, you can use the smaller, subsetted webfonts instead.
 * See "Glyphs & Languages" for an overview of the characters in the corresponding html file in the root directory of this package.
 *
 */


/* Complete */

@font-face {
    font-family: "LL Replica Bold Web";
    src: url("../../assets/files/fonts/lineto-replica-bold.eot");
    src: url("../../assets/files/fonts/lineto-replica-bold.eot?#iefix") format("embedded-opentype"),
         url("../../assets/files/fonts/lineto-replica-bold.woff2") format("woff2"),
         url("../../assets/files/fonts/lineto-replica-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}


/* Subsetted */

/*@font-face {
    font-family: "LL Replica Bold Sub";
    src: url("fonts_subsetted/lineto-replica-bold.eot");
    src: url("fonts_subsetted/lineto-replica-bold.eot?#iefix") format("embedded-opentype"),
         url("fonts_subsetted/lineto-replica-bold.woff2") format("woff2"),
         url("fonts_subsetted/lineto-replica-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}*/


/* ---------- SURVOL ET STYLE DE LA PAGE ---------- */

::-webkit-scrollbar {
  display: none;
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/* Couleur du texte surligné, selectionné */
::selection {
  color: #b0b0b0;
}

::-moz-selection {
  color: #b0b0b0;
}

::selection {
    background: transparent;
}
::-moz-selection {
    background: transparent;
}





/* ---------- TEXTES, STYLE GÉNÉRAL ---------- */

body {
  font-size: 1.0rem;
  font-family: "LL Replica Bold Web", helvetica;
  color: #353535;
  text-transform: uppercase;
  cursor: url('../../assets/files/cursor/white.gif'), auto;
}

a:not(.hidden) {
  text-decoration: none;
  color: #353535;

  -moz-transition: visibility .2s, opacity .2s linear;
  -o-transition: visibility .2s, opacity .2s linear;
  -webkit-transition: visibility .2s, opacity .2s linear;
  transition: visibility .2s, opacity .2s linear;
}

a:hover{
  cursor: url('../../assets/files/cursor/black.gif'), auto;
}

a:not(#projects_list):hover, a[data-href]:hover {
  color: #b0b0b0;
}

#projects_list a[data-href]:hover{
  color: #353535;
}

main#projects_list, #legende, aside {
  /*font-size: 0.8rem;*/
  font-size: 8px;
  font-family: "LL Replica Bold Web", helvetica;
}

h1, h2, #about, nav, main#projects_list #code, #titre, #counter_slider, .slider_arrow, .project_arrow {
  font-size: 1.0rem;
  font-family: "LL Replica Bold Web", helvetica;
}

.slide_title {
  text-align: center;
  letter-spacing: 0.2px;
  
  height: 100vh;
}

.slide_title p {
  padding-left: 3%;
  padding-right: 3%;
}







/* ---------- HEADER ---------- */

header {
  position: fixed;
  z-index: 100;
  top: 0px;

  width: 100%;
  padding: 15px 3% 15px 3%;
}
/* exception background-color pour la home */
header.background {
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav * {
  text-transform: uppercase;
}

/* pour cacher les liens nav inactifs */
.hidden {
  visibility: hidden;
}

#croix {
  position: fixed;
  z-index: 200;

  top: 11px;
  right: 3%;

  font-size: 1.4rem;
}










