

/* ---------- SLIDER ---------- */


#prev_slide, #next_slide {
  display:none;
}

#prev_project, #next_project {
  display: none;
  
}

#next_project.activated {
  display: block;
  width: 50%;
  height: 100vh;

  position: fixed;
  right: 0px;
  justify-content: flex-end;

  cursor: e-resize;
}

#prev_project.activated {
  display: block;
  width: 50%;
  height: 100vh;

  position: fixed;
  left: 0px;
  
  cursor: w-resize;
}

/* images */

main#slider {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
}

main#slider.slick-loaded {
  visibility: visible;
}

main#slider .slick-slide {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


main#slider .slick-slide img.slide_big,
main#slider .slick-slide video.slide_big {
  max-height: calc(100% - 84px);
  max-width: 94%;
}

main#slider .slick-slide img.slide_normal,
main#slider .slick-slide video.slide_normal {
  max-height: 70%;
  max-width: 70%;
}

main#slider .slick-slide img.slide_small,
main#slider .slick-slide video.slide_small {
  max-height: 45%;
  max-width: 45%;
}

#slider { 
  opacity: 0; 
  position: absolute; 
  transition: opacity  .2s ease-in;
}

#slider.slick-slider.slick-initialized .slick-list { 
  opacity: 1;
  position: relative;
  transition: opacity .2s ease-in;
}

#slider.slick-slider.slick-initialized {
  opacity: 1;
  transition: opacity .2s ease-in;
}
