

  
/* RESPONSIVE pour desktop sans spécifications de device */

@media only screen and (min-width : 0px) and (max-width : 480px) {

  header {
    background: white;
  }

  main#projects_list {
    margin-top: 42px;
    position: static;
    overflow-y: inherit;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  main#projects_list #code {
    top: 42px;
  }

  main#projects_list hr:last-child{
    padding-bottom: 15px;
  }

  aside#aside_projects_list figure, aside#aside_list figure {
    display: none;
  }

  #legende{
    display: none;
  }

  .small {
    height: 40px;
  }

  .normal {
    height: 60px;
  }

  .medium {
    height: 80px;
  }

  .big {
    height: 100px;
  }

  main#home figure {
    height: 100px;
  }

  .flex {
    max-width: 120px;
    flex: 1 0 40px;
  }

  main#projects_list .container_list {
    width: 100%;
  }

  main#projects_list #code{
    padding-top: 0px;
  }

  .hiddentel {
    visibility: hidden;
  }

  #titre{
    left: calc(34.333% - 23px);
    width: calc(60% - 68px);
  }




  /* les tailles des slide */
  /*main#slider .slick-slide img.slide_big,
  main#slider .slick-slide video.slide_big {
    max-height: calc(100vh - 84px);
    max-width: 94%;
  }*/

  main#slider .slick-slide img.slide_normal,
  main#slider .slick-slide video.slide_normal {
    max-height: 70%;
    max-width: 75%;
  }

  main#slider .slick-slide img.slide_small,
  main#slider .slick-slide video.slide_small {
    max-height: 50%;
    max-width: 50%;
  }



  .slide_title {
    font-size: 1.8rem;
    /*line-height: 46px;*/
  }

}









@media only screen and (min-width : 481px) and (max-width : 767px) {

  header {
    background: white;
  }

  main#projects_list {
    margin-top: 42px;
    position: static;
    overflow-y: inherit;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
  }

  main#projects_list .container_list {
    width: 100%;
  }

  main#projects_list #code {
    top: 42px;
  }

  main#projects_list hr:last-child{
    padding-bottom: 15px;
  }

  aside#aside_projects_list figure, aside#aside_list figure {
    display: none;
  }

  #legende{
    display: none;
  }

  .small {
    height: 50px;
  }

  .normal {
    height: 70px;
  }

  .medium {
    height: 90px;
  }

  .big {
    height: 110px;
  }

  main#home figure {
    height: 110px;
  }

  .flex {
    max-width: 130px;
    flex: 1 0 50px;
  }

  .hiddentel {
    visibility: hidden;
  }

  #titre{
    left: calc(34.333% - 23px);
    width: calc(60% - 68px);
  }



  /* les tailles des slide */
  /*main#slider .slick-slide img.slide_big,
    main#slider .slick-slide video.slide_big {
      max-height: calc(100vh - 84px);
      max-width: 94%;
  }*/

  main#slider .slick-slide img.slide_normal,
  main#slider .slick-slide video.slide_normal {
    max-height: 70%;
    max-width: 75%;
  }

  main#slider .slick-slide img.slide_small,
  main#slider .slick-slide video.slide_small {
    max-height: 50%;
    max-width: 50%;
  }

  .slide_title {
    font-size: 2.2rem;
    /*line-height: 46px;*/
  }

}

@media only screen and (min-width : 481px) and (max-width : 768px){

aside#aside_projects_list, aside#aside_list {
  width: 30vw;
  height: 30vw;
}

}



@media only screen and (min-width : 768px) and (max-width : 1024px) {

  main#projects_list {
    width: 100%;
    position: static;
    overflow-y: inherit;
    padding-right: 3%;
    padding-left: 3%;
  }

  main#projects_list #code {
    top: 0px;
  }

  #legendetel{
    display: none;
  }

  #titre{
    left: 50%;
    width: calc(45% - 68px);
  }

  .small {
    height: 25px;
  }

  .normal {
    height: 45px;
  }

  .medium {
    height: 80px;
  }

  .big {
    height: 110px;
  }

  main#home figure {
    height: 110px;
  }

  .flex {
    max-width: 160px;
    flex: 1 0 60px;
  }

  .slide_title {
    font-size: 2.8rem;
    /*line-height: 46px;*/
  }

}

@media only screen and (min-width : 1025px) and (max-width : 1300px) {
  
  main#projects_list {
    width: 100%;
    position: static;
    overflow-y: inherit;
    padding-right: 3%;
    padding-left: 3%;
  }

  main#projects_list #code {
    top: 0px;
  }

  #legendetel{
    display: none;
  }

  #titre{
    left: 50%;
    width: calc(45% - 68px);
  }

  .small {
    height: 30px;
  }

  .normal {
    height: 75px;
  }

  .medium {
    height: 115px;
  }

  .big {
    height: 150px;
  }

  main#home figure {
    height: 150px;
  }

  .flex {
    max-width: 190px;
    flex: 1 0 60px;
  }

  .slide_title {
    font-size: 3.8rem;
    line-height: 46px;
  }

}



@media only screen and (min-width : 1301px) and (max-width : 1824px){
  
  main#projects_list {
    width: 100%;
    position: static;
    overflow-y: inherit;
    padding-right: 3%;
    padding-left: 3%;
  }

  main#projects_list #code {
    top: 0px;
  }

  #legendetel{
    display: none;
  }

  #titre{
    left: 50%;
    width: calc(45% - 68px);
  }

  .small {
    height: 40px;
  }

  .normal {
    height: 70px;
  }

  .medium {
    height: 140px;
  }

  .big {
    height: 190px;
  }

  main#home figure {
    height: 190px;
  }

  .flex {
    max-width: 200px;
    flex: 1 0 70px;
  }

  .slide_title {
    font-size: 3.8rem;
    line-height: 46px;
  }
}

/* Large screens ----------- */
@media only screen and (min-width : 1825px) and (max-width : 2560px) {

  main#projects_list {
    width: 100%;
    position: static;
    overflow-y: inherit;
    padding-right: 3%;
    padding-left: 3%;
  }

  main#projects_list #code {
    top: 0px;
  }

  #legendetel{
    display: none;
  }

  #titre{
    left: 50%;
    width: calc(45% - 68px);
  }

  .small {
    height: 50px;
  }

  .normal {
    height: 100px;
  }

  .medium {
    height: 160px;
  }

  .big {
    height: 210px;
  }

  main#home figure {
    height: 210px;
  }

  .flex {
    max-width: 260px;
    flex: 1 0 120px;
  }

  .slide_title {
    font-size: 3.8rem;
    line-height: 46px;
  }

}

/* très Large screens ----------- */
@media only screen and (min-width : 2561px) {
  
  main#projects_list {
    width: 100%;
    position: static;
    overflow-y: inherit;
    padding-right: 3%;
    padding-left: 3%;
  }

  main#projects_list #code {
    top: 0px;
  }

  #legendetel{
    display: none;
  }

  #titre{
    left: 50%;
    width: calc(45% - 68px);
  }

  .small {
    height: 50px;
  }

  .normal {
    height: 100px;
  }

  .medium {
    height: 170px;
  }

  .big {
    height: 220px;
  }

  main#home figure {
    height: 220px;
  }

  .flex {
    max-width: 260px;
    flex: 1 0 120px;
  }

  .slide_title {
    font-size: 3.8rem;
    line-height: 46px;
  }

}










/* RESPONSIVE avec spécifications de device */

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 480px) {

}

/* Smartphones (landscape) ----------- */
/*@media only screen and (min-width : 481px) and (max-device-width : 750px) and 
(orientation : landscape) {

}*/

@media only screen and (min-width : 481px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

}

/* iPhone X */
/*@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and 
(-webkit-device-pixel-ratio: 3) { 

}*/

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1030px) and (orientation : landscape) {

aside#aside_projects_list, aside#aside_list {
  width: 25vw;
  height: 25vw;
}

}

/* iPads (portrait) ----------- */
/*@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and 
(orientation : portrait) {

}*/





 


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 768px) {

}







